
.navbar {
    height: 70px;
    width: 100%;
}

.navbar-toggler {
    margin-left: 20px;
}

.navbar-brand {
    margin-left: 15px;
}

.bi-bag {
    margin-right: 10px;
}

.bi-heart {
    margin-top: 5px;
    margin-right: 15px;
}

.search {
    margin-right: 15px;
}